<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<!-- parallel="instances" thread-count="5" -->

<suite name="Dell_Search" parallel="methods" thread-count="5" verbose="1">
	<listeners>
		<listener class-name="listener.TestNgTestListener"></listener>
	</listeners>
	<test name="Search_Box">
		<classes>
			<class name="extentReport.testRunner.TestRunner" />
		</classes>
	</test>
</suite>
